

<div class="container">
 <h1>Stupid Coaching</h1>

<div id="question">
  <p><%= params[:question] %></p>
  <p><%= @answer %></p>
  <p><%= link_to "Another question", ask_path %></p>
</div>

</div>




